html, body, #root {
    width: 100%;
    height:100%;
    overflow: auto;
}

.common-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.common-toolbar {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    padding: 10px 0px 6px 0px;
    position: relative;
}

.common-toolbar:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: #000;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 1) 100%);
}

.common-toolbar .common-logo {
    height: 50px;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
}

.common-toolbar .common-logo-image {
    height: 100%;
}

.common-toolbar .common-logo-image img {
    height: 100%;
}

.common-toolbar .common-logo-text {
    height: 100%;
    margin-left: 5px;
}

.common-toolbar .common-logo-text img {
    height: 100%;
}

.common-toolbar-item {
    position: relative;
    padding: 0px 5px;
}

.common-toolbar-item:not(:last-child):after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -2px;
    background-color: #000;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 1) 100%);
    transform: rotate(15deg)
}

.common-toolbar-item.active {
    text-shadow: 0px 0px 1px #000;
    pointer-events: none;
}

.common-toolbar-item a {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    font-weight: 500;
    color: #000;
}

.common-body {
    display: flex;
    flex: 0 1 100%;
    flex-direction: row;
    overflow: auto;
}

.common-left-sidebar {
    width: 25%;
    min-width: 25%;
}

.common-right-sidebar {
    width: 25%;
    min-width: 25%;
}

.common-view-window {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
}