.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    display: block;
    z-index: 1000;
}

.modal-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.modal-scroller {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: none;
    align-items: center;
    overflow: auto;
}

.modal-card {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
    background: #ffffff;
    -webkit-box-shadow: 2px 4px 8px 0px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 2px 4px 8px 0px rgba(34, 60, 80, 0.4);
    box-shadow: 2px 4px 8px 0px rgba(34, 60, 80, 0.4);
    opacity: 1;
    transition-duration: 0.2s;
}

.modal-card.modal-open {
    margin-top: -20px;
    opacity: 0;
}

.modal-card.modal-dismiss {
    margin-top: -40px;
    opacity: 0;
}

.modal-dismiss-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: #b0b0b1;
    z-index: 10;
}

.modal-dismiss-btn:hover {
    color: #666666;
}

.modal-dismiss-btn::after {
    content: "\00D7";
    width: 100%;
    height: 100%;
    display: block;
    font-weight: lighter;
    font-size: 45px;
    line-height: 30px;
    text-align: center;
}

/*********Details**********/

.modal-details-card {
    width: 1200px;
    height: 600px;
    min-height: 600px;
}

.modal-details-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.modal-details-gallery {
    width: 50%;
    height: 100%;
}

.modal-details-gallery img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.modal-details-body {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.modal-details-title {
    position: relative;
    padding-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 600;
}

.modal-details-title:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: #000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 1) 100%);
}

.modal-details-description {
    display: flex;
    flex: 0 1 100%;
    margin: 10px 0px;
    overflow: auto;
}

.modal-details-description {
    display: flex;
    flex: 0 1 100%;
    margin: 10px 0px;
    overflow: auto;
}

.modal-details-price {
    font-size: 1.2rem;
}

.modal-details-price .value {
    margin-right: 5px;
    font-weight: 700
}

.modal-details-price .ext {
    font-weight: 700
}